exe/win32/XmlSchemas/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Joshua Morris (Sony Online Entertainment) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by 4.0  Installed Multi IDE for 5 users (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="typeStringID">
		<xs:sequence>
			<xs:element name="tableName" type="xs:string"/>
			<xs:element name="lookupIndex" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
